<?xml version="1.0"?>
<configuration>
  <runtime>
    <!-- This is required for MD5 to work on  FIPS-enabled computers-->
    <enforceFIPSPolicy enabled="false"/>
  </runtime>
  <system.diagnostics>
    <sources>
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="EventLog"
               type="System.Diagnostics.EventLogTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               initializeData="Application"
           />
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="EventLog"
           type="System.Diagnostics.EventLogTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
           initializeData="Application"
           />
    </sharedListeners>
  </system.diagnostics>
</configuration>
